Parte 1: LOPAL

Contextualização:

Imagine que você tem 5 servidores em diferentes regiões da AWS, e está monitorando o uso de CPU de cada um a cada hora. Você coleta esses dados por 10 horas seguidas. O resultado pode ser representado como uma matriz:

Linhas: cada linha representa um registro de tempo (por exemplo, hora 1 até hora 10)
Colunas: cada coluna representa um servidor ou região diferente
Utilizando esse conceito desenvolva as próximas questões.

 Considerando a matriz abaixo, crie um laço for para calcular a média de uso de CPU por linha e imprima os resultados com 2 casas decimais.

In [ ]:
uso_cpu = [
    [20, 25, 40, 50, 45, 60, 55, 35, 70, 65],
    [30, 35, 50, 60, 40, 55, 60, 45, 50, 55],
    [15, 20, 30, 25, 35, 40, 45, 50, 55, 60],
    [10, 15, 25, 35, 45, 50, 55, 60, 65, 70],
]

for contador in uso_cpu:
    media = sum(contador) / len(contador)
    print(f"Média de uso de CPU: {media:.2f}")

Média de uso de CPU: 46.50
Média de uso de CPU: 48.00
Média de uso de CPU: 37.50
Média de uso de CPU: 43.00

Crie uma função chamada alerta_uso que recebe como parâmetro uma lista com os valores de uso de CPU de uma região. A função deve retornar True se algum valor ultrapassar 85% de uso, e False caso contrário. Teste a função para todas as regiões da matriz.

In [ ]:
def alerta_uso(uso_cpu):
    for uso in uso_cpu:
        if uso > 85:
            return True
    return False


regioes = [
    [75, 80, 90],
    [60, 70, 80],
    [50, 40, 85],
    [90, 60, 80]
]

for i, regiao in enumerate(regioes):
    resultado = alerta_uso(regiao)
    print(f"Região {i+1}: {'Alerta' if resultado else 'Sem alerta'}")

Região 1: Alerta
Região 2: Sem alerta
Região 3: Sem alerta
Região 4: Alerta

Crie uma função chamada dados_crescente que recebe como parâmetro uma lista com os valores de uso de CPU de uma região. A função deve retornar a lista organizada em ordem crescente, do menor uso de CPU para o maior. Teste a função para todas as regiões da matriz

In [ ]:
def dados_crescente(lista_cpu):
    return sorted(lista_cpu)

matriz_cpu = [
    [50, 80, 30, 60],
    [10, 20, 40, 90],
    [70, 60, 10, 30],
    [20, 50, 90, 40]
]

for i, regiao in enumerate(matriz_cpu):
    print(f"Região {i+1} (antes): {regiao}")
    print(f"Região {i+1} (ordenada): {dados_crescente(regiao)}\n")

Região 1 (antes): [50, 80, 30, 60]
Região 1 (ordenada): [30, 50, 60, 80]

Região 2 (antes): [10, 20, 40, 90]
Região 2 (ordenada): [10, 20, 40, 90]

Região 3 (antes): [70, 60, 10, 30]
Região 3 (ordenada): [10, 30, 60, 70]

Região 4 (antes): [20, 50, 90, 40]
Região 4 (ordenada): [20, 40, 50, 90]

Utilizando a biblioteca pandas, crie um DataFrame com os dados da matriz acima. Os nomes das linhas devem ser ["hora_1", "hora_2",..., "hora_10"] e as colunas representam as regiões ["us-east-1", "us-west-2", "eu-central-1", "sa-east-1", " ap-southeast-1"  ].

In [ ]:
import pandas as pd

dados = [
    [100, 200, 150, 180, 220],  # hora_1
    [110, 210, 160, 190, 230],  # hora_2
    [120, 220, 170, 200, 240],  # hora_3
    [130, 230, 180, 210, 250],  # hora_4
    [140, 240, 190, 220, 260],  # hora_5
    [150, 250, 200, 230, 270],  # hora_6
    [160, 260, 210, 240, 280],  # hora_7
    [170, 270, 220, 250, 290],  # hora_8
    [180, 280, 230, 260, 300],  # hora_9
    [190, 290, 240, 270, 310]   # hora_10
]

linhas = ["hora_1", "hora_2", "hora_3", "hora_4", "hora_5", "hora_6", "hora_7", "hora_8", "hora_9", "hora_10"]
colunas = ["us-east-1", "us-west-2", "eu-central-1", "sa-east-1", "ap-southeast-1"]

df = pd.DataFrame(dados, index=linhas, columns=colunas)

print(df)

         us-east-1  us-west-2  eu-central-1  sa-east-1  ap-southeast-1
hora_1         100        200           150        180             220
hora_2         110        210           160        190             230
hora_3         120        220           170        200             240
hora_4         130        230           180        210             250
hora_5         140        240           190        220             260
hora_6         150        250           200        230             270
hora_7         160        260           210        240             280
hora_8         170        270           220        250             290
hora_9         180        280           230        260             300
hora_10        190        290           240        270             310

Dentre as questões anteriores escolha uma delas para fazer uma leve explicação do seu funcionamento.

Escolhi a opção acima.
Eu criei um DataFrame organizando os dados em uma matriz de listas, onde cada lista interna representa os valores para uma hora específica em cada região. Defini os nomes das linhas ("hora_1", "hora_2", ..., "hora_10") e das colunas (nomes das regiões). Depois, usei a função pd.DataFrame() para criar o DataFrame, passando a matriz de dados e os nomes das linhas e colunas.

Na realidade atual das empresas de tecnologia e análise de dados, é comum que dados e aplicações estejam distribuídos em ambientes de nuvem. O uso de plataformas como a AWS permite escalabilidade, disponibilidade e segurança.


Por sua vez, a linguagem Python é amplamente usada para: Automatizar tarefas administrativas, Processar grandes volumes de dados e Conectar aplicações locais a bancos de dados remotos


A integração entre Python e AWS RDS permite que scripts sejam escritos para ler e gravar dados diretamente em bancos SQL na nuvem.

A ABC Organization compra uma assinatura do Microsoft 365 para todos os seus funcionários. Qual modelo de serviço em nuvem a ABC Organization adotou?
IAAS
SAAS
PAAS
FAAS

SaaS.

Qual modelo de serviço de nuvem as máquinas virtuais EC2 da AWS representam?
IAAS
SAAS
PAAS
FAAS

In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (7.2 kB)
Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl (33.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.9/33.9 MB 21.9 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

In [6]:
import mysql.connector

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="database-1.c21fjnvngsvf.us-east-1.rds.amazonaws.com",
  user="admin",
  password="senai115"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7c5350517990>

In [9]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabases")

In [10]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mydatabases',)
('mysql',)
('performance_schema',)
('sys',)

In [12]:
mydb = mysql.connector.connect(
   host="database-1.c21fjnvngsvf.us-east-1.rds.amazonaws.com",
  user="admin",
  password="senai115",
  database="mydatabase"
)

In [13]:

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [14]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

In [16]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE inteiro (name VARCHAR(255))")

In [17]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)
('inteiro',)

IaaS.